.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

#drum-machine {
  display: flex;
  flex-direction: row;
  gap: 10px;

  background-color: antiquewhite;
  padding: 1%;
  border-radius: 5px;
}

#pad-container {
  display: grid;
  grid-template-areas: 
    "a a a"
    "a a a"
    "a a a";
  gap: 3px 3px;

  background-color: aliceblue;
  border: 2px solid rgb(167, 167, 167);
  border-radius: 5px;
  padding: 3px;
}

.drum-pad {
  min-width: 40px;
  min-height: 35px;
}

#control-panel {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.controls-button {
  width: 50%;
  align-self: flex-end;
}

#display {
  text-align: center;
}

.slider {
  display: flex;
  flex-direction: row;
  align-items: baseline;
}

#volume {
  display: inline-block;
  border: 2px solid red;
  padding-top: 0px;
  width: 2fr;
}

#volumeLabel {
  align-self: flex-end;
  line-height: 100%;
  padding: 0 0 0 0;
  margin: 0 0 0 0;
  width: 40px;
  color: #484c53;
  font-size: smaller;
}