.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

#drum-machine {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

#pad-container {
  display: grid;
  grid-template-areas: 
    "a a a"
    "a a a"
    "a a a";
  gap: 3px 3px;

  background-color: aliceblue;
  border: 2px solid rgb(167, 167, 167);
}

#control-panel {
  display: flex;
  flex-direction: column;
}